<div class="hero">
  <div class="container center welcome">
    <h1><%= logged_in? ? "Welcome back, " + current_user.name + "!" : "Welcome to Stockr!" %></h1>
    <% if !logged_in? %>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-info" %>
    <% else %>
      <%= link_to "Go to your Dashboard", dashboard_path, class: "btn btn-lg btn-info" %>
    <% end %>
  </div>
</div>

<div class="container device">
  <div class="macbook"></div>
</div>
