<h1>Stocks list</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Company Name</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each_with_index do |stock, index| %>
      <tr>
        <td><%= stock.symbol %></td>
        <td><%= stock.company %></td>
      </tr>
    <% end %>
  </tbody>
</table>
