<h1><%= @stock.company %> (<%= @stock.symbol %>)</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



</table>


<%= link_to 'Scrape', scrape_media(@stock.symbol) %>
