<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1><%= @stock.company %> (<%= @stock.symbol %>)</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 

  
</table>

<%= pie_chart @h[0].high %>